# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
Database_RCS.vcxproj.user
GeneratedFiles/Release/moc_AddClassRecordDlg.cpp
GeneratedFiles/Release/moc_AddClassRecordsDlg.cpp
GeneratedFiles/Release/moc_AddClassTypeDlg.cpp
GeneratedFiles/Release/moc_AddDirDlg.cpp
GeneratedFiles/Release/moc_CentralWidget.cpp
GeneratedFiles/Release/moc_DataType.cpp
GeneratedFiles/Release/moc_DateInputDlg.cpp
GeneratedFiles/Release/moc_EditClassTypeDlg.cpp
GeneratedFiles/Release/moc_FileTreeView.cpp
GeneratedFiles/Release/moc_Mainwindow.cpp
GeneratedFiles/Release/moc_MySqlTableModel.cpp
GeneratedFiles/Release/moc_NewProjectDlg.cpp
GeneratedFiles/Release/moc_OBEnumInputDlg.cpp
GeneratedFiles/Release/moc_OpenProjectDlg.cpp
GeneratedFiles/Release/moc_SQLSelectDlg.cpp
GeneratedFiles/Release/moc_ValueInputDlg.cpp
GeneratedFiles/ui_AddClassRecordDlg.h
GeneratedFiles/ui_AddClassRecordsDlg.h
GeneratedFiles/ui_AddClassTypeDlg.h
GeneratedFiles/ui_AddDirDlg.h
GeneratedFiles/ui_CentralWidget.h
GeneratedFiles/ui_DateInputDlg.h
GeneratedFiles/ui_EditClassTypeDlg.h
GeneratedFiles/ui_Mainwindow.h
GeneratedFiles/ui_NewProjectDlg.h
GeneratedFiles/ui_OBEnumInputDlg.h
GeneratedFiles/ui_OpenProjectDlg.h
GeneratedFiles/ui_SQLSelectDlg.h
GeneratedFiles/ui_TypeTreeView.h
GeneratedFiles/ui_ValueInputDlg.h
Release/Database_RCS.log
Debug/Database_RCS.log
Debug/vc120.pdb
GeneratedFiles/Debug/moc_AddClassRecordDlg.cpp
GeneratedFiles/Debug/moc_AddClassRecordsDlg.cpp
GeneratedFiles/Debug/moc_AddClassTypeDlg.cpp
GeneratedFiles/Debug/moc_AddDirDlg.cpp
GeneratedFiles/Debug/moc_CentralWidget.cpp
GeneratedFiles/Debug/moc_DataType.cpp
GeneratedFiles/Debug/moc_DateInputDlg.cpp
GeneratedFiles/Debug/moc_EditClassTypeDlg.cpp
GeneratedFiles/Debug/moc_FileTreeView.cpp
GeneratedFiles/Debug/moc_Mainwindow.cpp
GeneratedFiles/Debug/moc_MySqlTableModel.cpp
GeneratedFiles/Debug/moc_NewProjectDlg.cpp
GeneratedFiles/Debug/moc_OBEnumInputDlg.cpp
GeneratedFiles/Debug/moc_OpenProjectDlg.cpp
GeneratedFiles/Debug/moc_SQLSelectDlg.cpp
GeneratedFiles/Debug/moc_ValueInputDlg.cpp
x64/Debug/Database_RCS.log
x64/Debug/vc120.pdb
x64/Debug/Database_RCS.Build.CppClean.log
